@import './mixin/mixin.scss';
@import './variables/variables.scss';

* {
    @include init();
    font-family: Arial, Helvetica, sans-serif;
}

.authHeader {
    img {
        width: 100px;
        margin: 2.5%;
    }
    height: 15%;
    margin-bottom: 1%;
}

.auth-form-button {
    button {
        background-color: $linkedin_blue;
        border: none;
        padding: 15px;
        width: 350px;
        border-radius: 35px;
        color: $white;
        cursor: pointer;
    }
}

.authFooter {
    position: fixed;
    bottom: 10px;
    left: 0;
    right: 0;

    img {
        width: 100px;
    }

    .image-copyright {
        @include centralizedFlex();
        margin: 30px 0px 5px 0px;
    }

    .useful-footer-sites {
        ul {
            display: flex;
            justify-content: space-evenly;
            list-style: none;
            text-decoration: none;

            li {
                a {
                    @include richText(0.9em);
                    color: $medium_gray;
                }
            }
        }
    }
}

.error-message {
    color: $accent_red;
    font-size: 0.85em;
    padding: 0px 15px;
}