@import './variables/variables.scss';
@import './mixin/mixin.scss';

.edit-experience {
    min-height: 100vh;
    background-color: $linkedin_cream;

    .edit-exp-form {
        h1.title {
            text-align: center;
            margin: 30px 0px;
            color: $dark_gray;
        }

        .form {
            @include centralizedFlex();
            @include divCentralized();

            .edit-exp {
                margin-bottom: 50px;
                width: 650px;

                .error {
                    color: $accent_red;
                }

                .label {
                    color: $dark_gray;
                    margin: 10px 0px;
                }

                .input {
                    input, textarea, select {
                        width: 100%;
                        border: none;
                        border-radius: 10px;
                        padding: 10px;
                    }

                    .submit-exp {
                        margin: 30px 0px;
                        color: white;
                        background-color: $accent_blue;
                        cursor: pointer;
                    }

                    .submit-exp:hover {
                        background-color: $linkedin_blue;
                    }
                }
            }
        }
    }
}

.edit-exp-dark {
    min-height: 100vh;
    background-color: $linkedin_gray_dark;

    .edit-exp-form {
        h1.title {
            text-align: center;
            margin: 30px 0px;
            color: $dark_gray;
        }

        .form {
            @include centralizedFlex();
            @include divCentralized();

            .edit-exp {
                margin-bottom: 50px;
                width: 650px;

                .error {
                    color: $accent_red;
                }

                .label {
                    color: $dark_gray;
                    margin: 10px 0px;
                }

                .input {
                    input, textarea, select {
                        width: 100%;
                        border: none;
                        border-radius: 10px;
                        padding: 10px;
                    }

                    .submit-exp {
                        margin: 30px 0px;
                        color: white;
                        background-color: $accent_blue;
                        cursor: pointer;
                    }

                    .submit-exp:hover {
                        background-color: $linkedin_blue;
                    }
                }
            }
        }
    }
}