@import '../styles/variables/variables.scss';
@import '../styles/mixin/mixin.scss';

.my-network {
    background-color: $linkedin_cream;
    min-height: 100vh;

    .invitations {
        background-color: $white;
        padding: 10px;
        margin: auto;
        margin-top: 30px;
        border-radius: 10px;
        width: 80%;

        .no-invitation {
            color: $medium_gray;
            padding: 10px;
        }

        .title {
            @include centralizedFlex();
            justify-content: space-between;
            margin: 10px;

            h3 {
                font-weight: 400;
                font-size: 1em;
            }

            p {
                font-size: 0.8em;
                color: $medium_gray;
                font-weight: 600;
            }
        }

        hr {
            margin-bottom: 10px;
        }

        .invitation-list {
            .profile-item {
                .user-data {
                    display: flex;
                    align-items: center;

                    padding: 10px;

                    .profile-image {
                        img {
                            width: 8%;
                            height: auto;
                            border-radius: 50%;
                        }
                    }

                    .name {
                        margin-left: -45%;
                    }
                }

                hr {
                    margin: 10px 0px;
                }
            }
        }
    }
}