@import '../styles/variables/variables.scss';
@import '../styles/mixin/mixin.scss';

.my-network {
    background-color: $linkedin_cream;
    min-height: 100vh;

    .invitations, .might-know {
        background-color: $white;
        padding: 10px;
        margin: auto;
        margin-top: 30px;
        border-radius: 10px;
        width: 80%;

        .no-invitation {
            color: $medium_gray;
            padding: 10px;
        }

        .title {
            @include centralizedFlex();
            justify-content: space-between;
            margin: 10px;
            
            p {
                font-size: 0.8em;
                color: $medium_gray;
                font-weight: 600;
            }
        }

        hr {
            margin-bottom: 10px;
        }

        .invitation-list {
            .profile-item {
                .user-data {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    padding: 10px;

                    .profile-image {
                        img {
                            width: 8%;
                            height: auto;
                            border-radius: 50%;
                        }
                    }

                    .name {
                        margin-left: -120%;
                    }

                    .button {
                        button {
                            cursor: pointer;
                            margin-left: 10px;
                            padding: 8px 20px;
                            border-radius: 15px;
                        }

                        button.ignore {
                            background: none;
                            border: 1px $medium_gray solid;
                            color: $medium_gray;
                        }

                        button.ignore:hover {
                            background-color: $medium_gray;
                            color: $white;
                        }

                        button.accept {
                            background: none;
                            border: 1px $linkedin_blue solid;
                            color: $linkedin_blue;
                        }

                        button.accept:hover {
                            background-color: $linkedin_blue;
                            color: $white;
                        }
                    }
                }

                hr {
                    margin: 10px 0px;
                }
            }
        }
    }
}