@import 'variables/variables.scss';

.notification-page {
    background-color: $linkedin_cream;
    min-height: 100vh;

    .notification-list {
        display: flex;
        flex-direction: column;
        .notif-card {
            background-color: $white;
            margin: 15px 150px;
            padding: 30px 20px;
            border-radius: 10px;

            .act {
                font-size: 15px;
                margin-bottom: 10px;
                color: $medium_gray;
            }

            .date {
                font-size: 12px;
                margin-top: 10px;
                color: $medium_gray;
            }
        }
    }
}

.notif-dark {
    background-color: $linkedin_gray_dark;
    min-height: 100vh;

    .notification-list {
        display: flex;
        flex-direction: column;
        .notif-card {
            background-color: $black;
            margin: 15px 150px;
            padding: 30px 20px;
            border-radius: 10px;
            color: $white;

            .act {
                font-size: 15px;
                margin-bottom: 10px;
                color: $medium_gray;
            }

            .date {
                font-size: 12px;
                margin-top: 10px;
                color: $medium_gray;
            }
        }
    }
}