@import './mixin/mixin.scss';
@import './variables/variables.scss';

.resetPasswordForm {
    @include centralizedFlex();
    @include divCentralized();

    background-color: $white;
    border: 1px solid $light_gray;
    padding: 15px;
    width: 380px;
    border-radius: 10px;
    box-shadow: 5px 4px 5px $light_gray;

    .form-input-group {
        margin: 15px;

        position: relative;

        i {
            position: absolute;
            padding: 8px;
            right: 5px;
            top: 5.5px;
            text-align: center;
            color: $dark_gray;
            font-size: 1.3em;
        }

        i:hover {
            color: $medium_gray;
            cursor: pointer;
        }
    }

    .reset-form-input {
        input {
            height: 50px;
            width: 350px;
            border-radius: 10px;
            border: 1px solid $medium_gray;
            padding: 0px 8px;
            margin-bottom: 10px;
        }
    }

    .reset-form-title {
        margin: 18px;

        .reset-title {
            font-size: 1.5em;
        }

        .tagline {
            font-size: 0.85em;
        }
    }

    .back-button {
        text-align: center;
        padding: 30px 0px 0px;
        
        a {
            color: $medium_gray;
            font-weight: 700;
            cursor: pointer;
            text-decoration: none;
        }
    }

    .success {
        p {
            text-align: center;
        }
        
        .to-login {
            margin-top: 10px;

            a {
                text-decoration: underline;
                color: $linkedin_blue;
                font-weight: 600;
            }
        }
    }
}