@import '../variables/variables.scss';

.search-page {
    background-color: $linkedin_cream;
    min-height: 100vh;

    .search-user {
        .search-profile {
            margin: 20px auto;
            width: 80%;
            background-color: $white;
            border-radius: 10px;
            padding: 10px;

            button {
                float: right;
                padding: 5px 30px;
                background-color: $white;
                border: 1px $linkedin_blue solid;
                border-radius: 30px;
                color: $linkedin_blue;
                cursor: pointer;
                margin: 0px 10px;
            }

            button.withdraw {
                background-color: $white;
                color: $medium_gray;
                border: solid 1px $medium_gray
            }

            button:hover {
                background-color: $accent_blue;
                color: $white;
                border: none;
            }

            button.withdraw:hover {
                background-color: $light_gray;
                color: $dark_gray;
                border: none;
            }
            
            p {
                padding: 10px 0px;
                color: $linkedin_blue;
            }

            p.withdraw {
                color: $medium_gray;
            }

            h1 {
                font-size: 1.5em;
            }
        }
    }
}