// light theme
// primary colors
$linkedin_blue: #0077B5;
$linkedin_blue_light: #0076b519;
$linkedin_cream: #f3f2ef;
$white: #FFFFFF;

// dark theme
// primary colors
$linkedin_blue: #0077B5;
$linkedin_blue_light: #0076b519;
$linkedin_gray_dark: #222222;
$black: #000000;

// default
// secondary colors
$dark_001: #1d2226;
$dark_gray: #565859;
$medium_gray: #86888A;
$light_gray: #CACCCE;
$light_gray_light: #caccceab;

// accent colors
$accent_blue: #00A0DC;
$accent_purple: #8D6CAB;
$accent_red: #DD5143;
$accent_orange: #E68523;